.input{
    height: 2rem;
    border-radius: 5px;
    outline: none;
    background: var(--gray-400);
    border: 0;
    line-height: 1.4;
    resize: none;
    width: 100%;
    padding: 1.5rem;
    line-height: 1.5rem;
    color: var(--gray-100);
}

.list{
    
    width: 100%;
    
}

.addButton{
    width: 6rem;
    border-radius: 5px;
    border: 0;
    color: var(--gray-100);
    background: var(--blue-600);
}

.addButton:hover{
    background: var(--blue-500);
    cursor: pointer;
}

.content{
    height: 3rem;
    width: 700px;
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.contentList{
    /* background: rgb(60, 87, 87); */
    margin-top: 6rem;
}

.headerContentList{
    display: flex;
    justify-content: space-between
}

.headerContentList > span{
    font-weight: bold;
}

.taskCreate{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--blue-500);
}

.taskDone{
    display: flex;
    flex-direction: row;
    gap: 10px;
    color: var(--purple-500);
}

.taskDone_completed{
    
    color: var(--gray-200);
    background-color: var(--gray-400);
    padding: 2px 10px;
    border-radius: 10px;
    font-size: .9rem;
}

.nothing_to_show{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.text{
    color: var(--gray-300);
}
.text > span{
    font-weight: bold;
}